<div class="wrapper">
    <div class="card">
        <div class="card__header">Entrada</div>
        <div class="card__value card__value--color--green"> {{ getGain() | formatPrice }} </div>
    </div>
    <div class="card">
        <div class="card__header">Total</div>
        <div class="card__value">{{ getBalance() | formatPrice }}</div>
    </div>
    <div class="card">
        <div class="card__header">Saida</div>
        <div class="card__value card__value--color--red"> {{ getSpent() | formatPrice }} </div>
    </div>
</div>