@import "../../../styles/variables";

.wrapper {
  background-color: $quaternaryBgColor;
  padding: 15px;
  border-radius: 25px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (max-width: 635px) {
  .form {
    justify-content: center;
    flex-direction: column;
    div {
      margin: 10px 0px;
    }
  }
}

.select {
  position: relative;
  width: 200px;
  background-color: $primaryBgColor;
  padding: 6px;
  border-radius: 8px;

  &__element {
    color: $primaryColor;
    font-size: 18px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $tertiaryBgColor;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.expense-radio {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__container {
    display: flex;
    margin: 5px;

    label {
      margin: 0px 5px;
      cursor: pointer;
      font-size: 18px;
      color: $primaryColor;
    }
  }
}

.description {
  &__element {
    background-color: $primaryBgColor;
    font-size: 18px;
    color: $primaryColor;
    max-width: 250px;
    max-height: 70px;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
  }
}

.date {
  &__element {
    background-color: $primaryBgColor;
    color: $primaryColor;
    padding: 12px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
    &::-webkit-calendar-picker-indicator {
      background-color: $tertiaryBgColor;
      padding: 8px;
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}

.value {
  &__element {
    background-color: $primaryBgColor;
    color: $primaryColor;
    font-size: 18px;
    border: none;
    width: 140px;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    &:focus {
      outline: none;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.modal {
  left: 50%;
  max-height: 50dvb;
  overflow-y: auto;
  transform: translate(-50%, 50%);
  background-color: $tertiaryBgColor;
  padding: 35px;
  width: 80dvb;
  border: 2px solid black;
  border-radius: 20px;

  &__header {
    display: flex;
    justify-content: center;
    padding: 5px 20px;

    h1 {
      font-size: 45px;
      font-family: $headerFont;
      color: $secondaryColor;
    }
  }

  &__icon {
    cursor: pointer;
    color: black;
    &--cancel {
      position: absolute;
      right: 2%;
      top: 4%;
    }
  }

  &__input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    color: $primaryColor;
    background-color: $quaternaryBgColor;
    padding: 10px;
    input {
      background-color: $primaryBgColor;
      margin: 0px 10px;
      padding: 10px;
      font-size: 20px;
      color: $primaryColor;
      border: none;
      width: 30dvb;
      border-radius: 25px;
      &:focus {
        outline: none;
      }
    }
    span {
      margin-right: 10px;
      margin-left: 10px;
      font-size: 18px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $quaternaryBgColor;
    border-radius: 25px;
    color: $primaryColor;
    margin: 10px 0px;
    padding: 15px;
    span {
      margin-left: 10px;
      font-size: 18px;
    }
  }
}

.invalid {
  margin-top: 10px;
  background-color: $primaryBgColor;
  border-radius: 25px;
  text-align: center;
  color: $primaryColor;
  padding: 20px;
  font-size: 20px;
}

.button-cancel {
  margin-left: 10px;
  border-radius: 25px;
  background-color: $tertiaryColor;
  border: 2px solid black;
  cursor: pointer;
  padding: 5px 5px 3px 5px;
  transition: 0.3s;
  &:hover {
    opacity: 0.4;
  }
}
